<a href="https://colab.research.google.com/github/techrhea777/Data-Science-Projects/blob/main/Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Arithmetic Operators

In [1]:
# Adding two numbers

2 + 4

6

In [2]:
# Difference between two numbers

10 - 5

5

In [3]:
#Multiplication

2.4 * 2

4.8

In [4]:
# Division

8/3

2.6666666666666665

In [5]:
# Exponent

2**3

8

### Commenting

In [6]:
# As you alreday saw any thing foollwing '#' is not processed by python interpreter
''' if there are more than one line
you can use the three single quote symbol on either side of the text!
See now when you run this cell only the print statement gets executed'''

#Adding comments in the code helps one to understand the code better.

print('Is this helpful??')

Is this helpful??

### printing any content

In [7]:
print(10+2)
print(20-5)
print(3*2)
print(10/3)
print(3**2)

12
15
6
3.3333333333333335
9

In [9]:
print("Sum=",10+2)
print("Difference=", 20-5)
print("Product =", 3*2)
print("Quotient =", 10/3)
print("Exponent =", 3**2)

Sum= 12
Difference= 15
Product = 6
Quotient = 3.3333333333333335
Exponent = 9

### Variables

In [10]:
#variables
num1 = 100
num2 = 200
sum = num1 + num2
print(sum)

Difference = 20-5
Product = 3*2
Quotient = 10/3
Exponent = 3**2

print(Difference)
print(Product)
print(Quotient)
print(Exponent)

300
15
6
3.3333333333333335
9

### Data Types

In [11]:
#Numeric variables - Integer, Float

var1 = 10
var2 = 20.5
var1+var2

30.5

In [12]:
#Text Variables - string

var3 = 'Hello'
var4 = 'World'

print(var3)
print(var4)

Hello
World

In [14]:
#True/False variable - Boolean
check = (2 == 5)
print(check)

False

In [15]:
#adding text/string variables
moduleCode = 'COMP1880 '
module_name = "Data Science for Medical Applications"

print(moduleCode + module_name)

COMP1880 Data Science for Medical Applications

### Type Casting

In [16]:
print(float(10))
print(int(20.87965))
print(str(100))
print(int("65"))
print(round(20.5796))

10.0
20
100
65
21

### Printing special symbols

In [17]:
#printing apostrophe symbol in python
print("My name isn't Michele")
print('My name isn\'t Michele')

My name isn't Michele
My name isn't Michele

### Data Structures in Python - List

In [18]:
#Python List
#Lists can hold more than one value and can be fetched/operated individually
#To declare a list, you will need to use square brackets, []


var5 =['I', 'am', 'learning', 'data', 'science', 1000]
print(var5)

['I', 'am', 'learning', 'data', 'science', 1000]

In [19]:
# Python is zero-indexed, i.e. counting starts from zero

var5[0]

'I'

In [20]:
#A list can have different item types, so you can mix numerical and text variables in it

var6 = ['I', 'have', 150, 'hours', 'to', 'learn', 'data science']
print(var6)

['I', 'have', 150, 'hours', 'to', 'learn', 'data science']

In [21]:
# we ask for the length of 'var6' with the built-in function len()
len(var6)

7

In [22]:
#Accessing different elements from the list. In Python, all indexes start at 0
print(var6[0])
print(var6[2])

I
150

In [23]:
#Python provides an API to access a range of items using the : operator.
print(var6[0:4])

['I', 'have', 150, 'hours']

In [24]:
#we want the first item, and the second item onwards

var5[0:]

['I', 'am', 'learning', 'data', 'science', 1000]

In [25]:
#you can also iterate through every item of a list using a for loop

for item in var6:
  print(item)

I
have
150
hours
to
learn
data science

In [26]:
#You can add an item at the end of the list using the .append() method
var6.append(2023)
var6.append(2024)
print(var6)

['I', 'have', 150, 'hours', 'to', 'learn', 'data science', 2023, 2024]

In [27]:
#To delete an item from the list, you use the .remove() method:

var6.remove(2023)
print(var6)

['I', 'have', 150, 'hours', 'to', 'learn', 'data science', 2024]

##Another very popular Python variable used by data scientists is the dictionary type.

In [28]:
#Python Dictionary

#Another very popular Python variable used by data scientists is the dictionary type.
# if more than one line has to be commented you can use enclose the content between three quotes ''' multiple lines text '''

'''
A dictionary contains multiple elements, like a list, but each element is organized as a key-value pair.
A dictionary is not indexed by numbers but by keys. So, to access a specific value, you will have to call the item by its corresponding key.
To define a dictionary in Python, you will use curly brackets, {}, and specify the keys and values separated by :, as shown here '''

var7 = {'Module ID': 'COMP 1880', 'Module Name': 'Data Science for Medical Applications'}
print(var7)

{'Module ID': 'COMP 1880', 'Module Name': 'Data Science for Medical Applications'}

In [29]:
var7= {'Module ID': 'comp 1880', 'Module Name': 'Data Science for Medical Applications'}
print(var7)

{'Module ID': 'comp 1880', 'Module Name': 'Data Science for Medical Applications'}

In [30]:
var7['Module ID']

'comp 1880'

In [31]:
var7['Module Name']

'Data Science for Medical Applications'

In [32]:
var7.keys()

dict_keys(['Module ID', 'Module Name'])

In [33]:
var7.values()

dict_values(['comp 1880', 'Data Science for Medical Applications'])

In [34]:
for key, value in var7.items():
  print(f"key= {key} value= {value}")

key= Module ID value= comp 1880
key= Module Name value= Data Science for Medical Applications

In [35]:
#To add new key-value item into the dictionary

var7['Year'] = "2023-2024"
print(var7)

{'Module ID': 'comp 1880', 'Module Name': 'Data Science for Medical Applications', 'Year': '2023-2024'}

In [36]:
#To delete an item use del command
del var7['Year']
print(var7)

{'Module ID': 'comp 1880', 'Module Name': 'Data Science for Medical Applications'}

In [37]:
algorithm = ['Linear Regression', 'logistic Regression', 'Random Forest', 'a3c']
print(algorithm)

['Linear Regression', 'logistic Regression', 'Random Forest', 'a3c']

In [38]:
learning = ['supervised', 'supervised',\
            'supervised','reinforcement']
print(learning)

['supervised', 'supervised', 'supervised', 'reinforcement']

In [39]:
algorithm_type =['regression','classification', \
                 'Regression or Classification', 'Game AI' ]
print(algorithm_type)

['regression', 'classification', 'Regression or Classification', 'Game AI']

In [40]:
algorithm.append('K-means')
print(algorithm)

['Linear Regression', 'logistic Regression', 'Random Forest', 'a3c', 'K-means']

In [41]:
learning.append('unsupervised')
print(learning)

['supervised', 'supervised', 'supervised', 'reinforcement', 'unsupervised']

In [42]:
algorithm_type.append('clustering')
print(algorithm_type)

['regression', 'classification', 'Regression or Classification', 'Game AI', 'clustering']

In [43]:
machine_learning ={}
machine_learning['algorithm']=algorithm
machine_learning['learning']= learning

print(machine_learning)

{'algorithm': ['Linear Regression', 'logistic Regression', 'Random Forest', 'a3c', 'K-means'], 'learning': ['supervised', 'supervised', 'supervised', 'reinforcement', 'unsupervised']}

In [44]:
for i in range(5):
  print(i)

0
1
2
3
4

## Functions in Python ##

In [45]:
#we define our own function add() with the 'def' and 'return' keywords
#There is again no output here but the definition of add() is saved once we execute this cell.

def add(a,b):
  return(a+b)

In [46]:
#We then call our function add(), giving it two inputs

add(20, 5)

25

In [47]:
#a more complicated function rate() which when given a letter grade (as a string), outputs a customized string
# One important thing to note here is the use of indentation to indicate nesting of code
# If indentation is incorrect (for example if this block of code were written all flushed to the left), the kernel would throw an error

def rate(grade):
    if grade == 'A':
        print('Excellent!')
    elif grade == 'B':
        print('Good!')
    elif grade == 'C' or grade == 'D':
        print('Need improvement')
    else:
        print('Not valid grade')

In [48]:
rate('C')

Need improvement

In [49]:
rate('E')

Not valid grade

###Looping construct

In [50]:
# 'for' loop

''' We create a loop with the for…in… construct, printing a line for each iteration of the loop with print().
Note that the number ‘5’ is not printed even though we stated range(5),
demonstrating again that Python starts counting from zero, not one.'''

for i in range(5):
    print (i)

0
1
2
3
4